@font-face {
  font-family: SourceSansPro;
  src: url(../../fonts/font-awesome-4.7.0/fonts/SourceSansPro-Regular.ttf);
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

a {
  color: #0087C3;
  text-decoration: none;
}

body {
  position: relative;
  margin: 0 auto;
  color: #555555;
  background: #FFFFFF;
  /*font-family: Arial, sans-serif; */
  font-size: 14px; 
  /*font-family: SourceSansPro;*/
}

header {
  padding: 10px 0;
  margin-bottom: 20px;
  border-bottom: 1px solid #AAAAAA;
}

#logo {
  float: left;
  margin-top: 8px;
}

#logo img {
  height: 70px;
}

#company {
  alignment: right;
  text-align: right;
}


#details {
  margin-bottom: 50px;
}

#client {
  padding-left: 6px;
  border-left: 6px solid #0087C3;
  float: left;
}

#client .to {
  color: #777777;
}

h2.name {
  font-size: 1.4em;
  font-weight: normal;
  margin: 0;
}

#invoice {
  alignment: right;
  text-align: right;
}

#invoice h1 {
  color: #0087C3;
  font-size: 2.4em;
  line-height: 1em;
  font-weight: normal;
  margin: 0  0 10px 0;
}

#invoice .date {
  font-size: 1.1em;
  color: #777777;
}

table {
  table-layout: auto;
  width: auto;
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 20px;
}

table th,
table td {
  padding: 25px;
  padding-bottom: 10px;
  padding-top: 10px;
  background: #EEEEEE;
  text-align: center;
  border-bottom: 1px solid #FFFFFF;
}

table th {
  white-space: nowrap;        
  font-weight: normal;
}

table td {
  text-align: right;
}

table td h3{
  color: #0E9BDD;
  /*color: #57B223;*/
  font-size: 1.0em;
  font-weight: normal;
  margin: 0 0 0.2em 0;
}

table .no {
  color: #FFFFFF;
  font-size: 0.9em;
  text-align: left;
  padding: 3px;
  /*background: #57B223;*/
  background: #0E9BDD;
}

table .desc {
  text-align: left;
}

table .unit {
  background: #DDDDDD;
}

table .dateTransaccion {
  background: #DDDDDD;
}

table .qty {
}

table .total {
  /*background: #57B223;*/
  background: #0E9BDD;
  color: #FFFFFF;
}

table .deschead {
  font-size: 1.1em;
  text-align: left;
}

table .unithead {
  font-size: 1.1em;
  background: #DDDDDD;
}

table .datehead {
  font-size: 1.1em;
  background: #DDDDDD;
}

table .qtyhead {
  font-size: 1.1em;
}

table .totalhead {
  font-size: 1.1em;
  background: #0E9BDD;
  /*background: #57B223;*/
  color: #FFFFFF;
}
table td.dateTransaccion{
  font-size: 0.8em;
}
table td.unit,
table td.qty,
table td.desc,
table td.total {
  font-size: 0.9em;
}

table tbody tr:last-child td {
  border: none;
}

table tfoot td {
  padding: 10px 20px;
  background: #FFFFFF;
  border-bottom: none;
  font-size: 1.0em;
  white-space: nowrap; 
  border-top: 1px solid #AAAAAA; 
}

table tfoot tr:first-child td {
  border-top: none; 
}

table tfoot tr:last-child td {
  font-size: 1.2em;
  /*border-top: 1px solid #57B223;*/
}

/*table td:last-child {*/
/*  width: 20%;*/
/*}*/
table td:nth-child(1) {
  width: 20%;
}table td:nth-child(2) {
  width: 50%;
}table td:nth-child(3) {
  width: 150px;
}table td:nth-child(4) {
  width: 60%;
}table td:nth-child(5) {
  width: 60%;
}table td:nth-child(6) {
  width: 60%;
}
/*table td:nth-child(6) {*/
/*  width: 70%;*/
/*}*/

table tfoot tr td:first-child {
  border: none;
}

#thanks{
  font-size: 2em;
  margin-bottom: 50px;
}

#notices{
  padding-left: 6px;
  border-left: 6px solid #0087C3;  
}

#notices .notice {
  font-size: 1.2em;
}

footer {
  color: #777777;
  width: 100%;
  height: 30px;
  position: absolute;
  bottom: 0;
  border-top: 1px solid #AAAAAA;
  padding: 8px 0;
  text-align: center;
}

